body {
    margin: 0 auto;
}
.project___title {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 1em; */
    background-color: lime;
    /* width: 100%; */
}

.first__nav___div {
    background-color: red;
    width: 50%; 
}
.second__nav___div {
    background-color: green; 
    width: 50%;
}

/* .common___nav___style {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;  
} */


.first___nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}
.second___nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-right: 2.5em;
}
.first___nav__ul li, .second___nav__ul li {
    padding-left: 1em;
    padding-right: 1em;
}

.main___container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: yellow; */
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    border: 1px solid #141414;
    /* width: 90%; */
}

.first___item {
    width: 20%;
    /* background-color: magenta; */
    padding: 0.5em;
    margin-bottom: 0;
} 
img {
    width: 100%; 
    height: auto
}
.second___item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    /* background-color: aquamarine; */
    font-size: 18px;
    padding-left: 2.5em;
    /* padding-right: ; */
} 
.dashed___line {
    border-left: 1px dashed red;
    width: 1px;
    margin-top: 2em;
    margin-bottom: 2em;
    /* align-self: flex-end; */
    /* height: 100%; */
}

.third___item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
    justify-content: center;
    width: 30%;
    margin-top: 0;
    padding-left: 1em;
    /* background-color: palevioletred; */
    /* border-left: 1px dashed red; */
} 
.vote___tally {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}
.tally___text  {
    width: 70%;
}
.vote___total {
    width: 30%;
}
.person___name {
  font-size: 1em;
}

.person___location {
    font-size: 0.8em;
}

.button___red {
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    /* display: flex;
    flex: 1;
    flex-direction: column; */
    /* padding-left: 2em;
    padding-right: 2em; */
}

.main___footer {
    display: flex;
    /* flex: 1; */
    flex-direction: row;
    justify-content: space-around;
    background-color: palevioletred;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 2em;
    padding-bottom: 3em;
    padding-top: 3em;
    
}
.first___footer___div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: blue;
    /* list-style: none; */
    width: 25%;
    padding-left: 1em;
    padding-right: 1em;
    /* padding-top: 1em; */
}
.second___footer___div h3, .third___footer___div h3, .fourth___footer___div h3 {
    width: 25%;
    text-align: center;
}
.first___footer__ul, .second___footer__ul, .third___footer__ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-start;
    align-items: flex-start; */
    width: 25%;
}
.second___footer___div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: blueviolet;
    width: 25%; 
}
.third___footer___div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: red;
    width: 25%;
}
.fourth___footer___div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: coral;
    width: 25%;
}

.heading___ul {
    font-size: 1.3em;
    /* align-self: center; */
    text-align: center;
}

.minor___footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: palevioletred;
    padding-left: 3em;
    padding-right: 3em;
    /* margin-top: 2em; */
    background-color: black;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 456px) {
    .main___container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* background-color: yellow; */
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2em;
        /* width: 90%; */
    }
    
    .first___item {
        width: 100%;
        /* background-color: magenta; */
        padding: 0;
        /* height: 100px; */
    } 

    img {
        width: 100%; 
        height: 150px
    }
    .second___item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        /* background-color: aquamarine; */
        font-size: 14px;
        padding-left: 0.5em;
        /* height: 100px; */
        margin-top: 20px;
        /* padding-right: ; */
    } 
    .third___item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        /* height: 200px; */
        /* margin-right: 1rem; */
        /* padding: 1rem; */
        /* background-color: palevioletred; */
    } 

    .button___red {
        background-color: red;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        width: 20%;
        border-radius: 0.2rem;
    }

    .dashed___line {
        border-left: 0px dashed red;
        width: 0px;
        margin-top: 0em;
        margin-bottom: 0em;
        /* align-self: flex-end; */
        /* height: 100%; */
    }
    
}

@media only screen and (max-width: 591px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .first__nav___div {
        background-color: red;
        width: 100%; 
    }
    .second__nav___div {
        background-color: green; 
        width: 100%;
    }

    .first___nav__ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        padding-right: 1em;
    }
    .second___nav__ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        padding-right: 1em;
    }
    .first___nav__ul li, .second___nav__ul li {
        padding-left: 1em;
        padding-right: 1em;
    }
    .main___footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: palevioletred;
        padding-left: 2em;
        padding-right: 2em;
    }  

   .first___footer___div, .second___footer___div, .third___footer___div, .fourth___footer___div {
    width: 100%;
   }
    .second___footer___div h3, .third___footer___div h3, .fourth___footer___div h3 {
        align-self: center;
        /* align-self: flex-start; */
        
    }

    .first___footer__ul, .second___footer__ul, .third___footer__ul {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .minor___footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
    }  

}
    